@page "{id:int}"
@model Aula04.RazorPages.Pages.Cursos.Alunos.AddCurso

<h1>Detalhes do Curso</h1>

<div>
    <p><strong>Nome:</strong> @Model.AlunoModel.NomeAluno</p>
    <form method="post">
        <p>Selecione um Curso:</p>
        <div class="form-group">
            <select class="form-control" id="cursoID" name="cursoID">
                <option value="">Selecione um curso</option>
                @foreach (var cursoModel in Model.ListCursos!)
                {
                    <option value="@cursoModel.IdCurso">@cursoModel.NomeCurso</option>
                }
            </select>
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Salvar"/>
            <a asp-page="/Cursos/Alunos/Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
